<!DOCTYPE html>
<html>
<head>

  <title>Vorfreude</title>

  <link rel="stylesheet" href="https://assets-mkotsch.s3.amazonaws.com/vorfreude/css/bootstrap-theme.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="https://assets-mkotsch.s3.amazonaws.com/vorfreude/css/bootstrap.min.css" type="text/css" media="screen">

  <script src="https://assets-mkotsch.s3.amazonaws.com/vorfreude/js/jquery.min.js" type="text/javascript"></script>
  <script src="https://assets-mkotsch.s3.amazonaws.com/vorfreude/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="https://assets-mkotsch.s3.amazonaws.com/vorfreude/js/jquery.timer.js" type="text/javascript"></script>
  <script src="https://assets-mkotsch.s3.amazonaws.com/vorfreude/js/docs.min.js" type="text/javascript"></script>

</head>
<body>

<%= yield %>

</body>
</html>
